* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#titolo {
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#result {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
